:root {
    /* background color site */
    --light-background-color: #ffffff;
    --medium-background-color: #f6f6f6;
    --dark-background-color: #070707;
    --gray-background-color: #828282;

    /* text color site */
    --light-text-color: #ffffff;
    --dark-text-color: #070707;
    --medium-text-color: #828282;

    /* star color site */
    --star-color: #e5e5e5;
}

/* font family */
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--dark-text-color);
    background: var(--light-background-color);
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    cursor: pointer;
}

.section {
    padding: 25px 0;
}

.container {
    width: 100%;
    max-width: 1100px;
    padding: 0 65px;
    margin: 0 auto;
}

.title {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
}

/* end base styles */
/* header styles */
.header {
    padding: 0;
    background: var(--light-background-color);
}
.nav {
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid var(--gray-background-color);
    width: 970px;
}
.nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-transform: capitalize;
    color: var(--medium-text-color);
    font-weight: 400;
}
.nav-list-item {
    transition: color 0.3s ease-in-out;
}
.nav-list-item:hover {
    color: var(--dark-text-color);
}
.nav-list-item:active {
    color: var(--dark-text-color);
}
.active {
    color: var(--dark-text-color);
}
/* end header styles */

/* hero styles */
.hero {
    padding-top: 12px;
    background: var(--light-background-color);
}
.hero-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.hero-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}
.hero-img {
    width: 970px;
    height: 387px;
}
