:root {
    /* background color site */
    --light-background-color: #ffffff;
    --medium-background-color: #f6f6f6;
    --dark-background-color: #070707;
    --gray-background-color: #828282;

    /* text color site */
    --light-text-color: #ffffff;
    --dark-text-color: #070707;
    --medium-text-color: #828282;

    /* star color site */
    --star-color: #e5e5e5;
}

/* font family */
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--dark-text-color);
    background: var(--light-background-color);
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    cursor: pointer;
}

.section {
    padding: 0;
    background: var(--light-background-color);
}

.container {
    width: 100%;
    max-width: 1100px;
    padding: 0 65px;
    margin: 0 auto;
}

.title {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
}

/* end base styles */
/* header styles */
.header {
    text-align: center;
    position: fixed;
    width: 100%;
}
.nav {
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid var(--gray-background-color);
    width: 970px;
}
.nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-transform: capitalize;
    color: var(--medium-text-color);
    font-weight: 400;
}
.nav-list-item {
    transition: color 0.3s ease-in-out;
}
.nav-list-item:hover {
    color: var(--dark-text-color);
}
.nav-list-item a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
.nav-list-item:active {
    color: var(--dark-text-color);
}
.active {
    color: var(--dark-text-color);
}
/* end header styles */

/* hero styles */
.hero {
    padding-top: 92px;
    padding-bottom: 0;
    background: var(--light-background-color);
}
.hero-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.hero-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}
.hero-img {
    width: 970px;
    height: 387px;
}
/* end hero styles */

/* about styles */
.about {
    background: var(--medium-background-color);
    padding: 100px 0;
}
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 480px;
    text-align: center;
}
.about-text p:last-child {
    width: 321px;
    margin: 0 auto;
}
/* end about styles */

/* skills styles */
.skills {
    background: var(--light-background-color);
    padding: 100px 0;
}
.skills-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.skills-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
}
.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.skills-list-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    height: 230px;
    text-align: center;
}
.skills-list-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.card-img {
    width: 80px;
    height: 80px;
}
.card-img-figma {
    width: 55px;
    height: 80px;
}
.skills-list-card-title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--medium-text-color);
    width: 78px;
    text-align: center;
}
.skills-list-card-stars {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--star-color);
}
.icon {
    width: 26px;
    height: 26px;
    fill: var(--star-color);
}
.active {
    fill: var(--dark-text-color);
}
/* end skills styles */

/* portfolio styles */
.portfolio {
    background: var(--medium-background-color);
    padding: 100px 0;
}
.portfolio-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.portfolio-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.portfolio-list-item-img {
    width: 970px;
    height: 540px;
}
.portfolio-list-item-title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}
/* end portfolio styles */

/* footer styles */
.footer {
    background: var(--light-background-color);
    padding: 100px 0;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
}
.footer-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    margin: 0 auto;
}
.footer-text p:last-child {
    width: 280px;
    margin: 0 auto;
}
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.footer-btn {
    width: 180px;
    height: 44px;
    padding: 10px 16px;
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
}
.footer-btn:hover {
    background-color: var(--light-text-color);
    color: var(--dark-background-color);
    border: 1px solid var(--dark-background-color);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}
.footer-social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.footer-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link:hover {
    color: rgba(7, 7, 7, 0.25);
    scale: 1.2;
}
.footer-icon {
    width: 40px;
    height: 40px;
    fill: var(--dark-text-color);
}
.footer-icon:hover {
    fill: rgba(7, 7, 7, 0.25);
}
.footer-copyright {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--medium-text-color);
    width: 200px;
    height: 60px;
    margin: 0 auto;
}
/* end footer styles */
